
@{
    Layout = null;
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Ticaret | SENL</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/template/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/template/dist/css/adminlte.min.css">
    <link href="~/SiteImg/a.ico" rel="shortcut icon" type="image/x-icon" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="~/Account/Login" class="h1"><b>SENL </b>E-Ticaret</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Alışverişe başlamanın ilk adresi.</p>

                <form method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="Email" placeholder="E-mailini Giriniz">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="Sifre" placeholder="Şifrenizi Giriniz">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4 mx-auto">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>

                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class=" mx-auto">
                            @ViewBag.hata
                        </div>

                        <!-- /.col -->
                    </div>
                    <div class="row">
                        <p class="mx-auto" style="margin-top:10px">
                            <a href="/Account/Register">Kayıt Ol</a>
                        </p>
                    </div>

                </form>

               
                <!-- /.social-auth-links -->

                
                
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/template/dist/js/adminlte.min.js"></script>
</body>
</html>

